
@{ 
    ViewBag.Title = "Index";
}


@model IEnumerable<PostViewModel>



<div class="fashion_area">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="header_fasion">
                <div class="left_fashion main_nav_box">
                    <ul>
                        <li class="nav_fashion"><a href="">Fashion</a></li>
                    </ul>
                </div>
                <div class="fasion_right">
                    <ul>
                        <li><a href="">Style</a></li>
                        <li><a href="">smart living</a></li>
                        <li><a href="">fashion week</a></li>
                        <li class="last_item"><a href="">...</a></li>
                    </ul>
                </div>
            </div>
            <div class="fashion_area_box">
                <div class="row">
                   @foreach (var post in Model)
                   {
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">
                                @post.Title
                            </h2>
                            <h3 class="post-subtitle">
                                @post.Content
                            </h3>
                        </a>
                        <p class="post-meta">Posted by <a href="#">@post.Author.UserName </a> on @post.CreatedDate</p>
                    </div>

                   }
                </div>
            </div>
            
            <div class="home_add_box"> <img src="~/Content/images/ht-add.jpg" alt="add" /> </div>
            
        </div>
    </div>
</div>





<!-- Pager -->
@*<ul class="pager">
    <li class="next">
        <a href="#">Older Posts &rarr;</a>
    </li>
</ul>*@
